
  video{
    object-fit: cover;
    width:100%;
    height: 100%;
    position:fixed;
    z-index:-1;
}
.form-container{
   
   
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: left ;
    box-shadow: insert 00 0 1000px rgba(0,0,0,0,2);
    object-fit: contain ;
margin-top: -80px;
}
  .form__item {
    background-color:rgba(7, 5, 5, 0.7);
 display: flex;
    flex: 1;
    margin-left: 80rem;
   margin-top: 0.2rem;
   margin-bottom: 5rem;
    border-radius: 20px;
    height: 600px;
    width: 500px;
  }
  
  
  
  .form__item__info {
   height: 30px;
   width: 50px;
   margin-top: 1rem;

  }
  
  .form__item__text {
    text-decoration: underline;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10rem;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .form__item {
      margin-bottom: 2rem;
    }
  }
  .form__item__desc{
    
    font-weight: 700;
   margin-top: 1.5rem ;
    margin-left: 1rem;
    color: #fff;
     font-size: 18px;
    line-height: 24px;
  }
  .head{
      margin-top: 1.5rem;
      margin-left: 9rem;
    width: 200px;
    color: white;
   height: 1rem;
    font-size: 13px;
    justify-content: center;

  }
  .form-inputs{
      margin-top: 4rem;
    font-size: 17px;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 300px;
    height: 30px;
    text-size-adjust:unset;
   
  

  }
  .form-label{
    color: white;
    margin-bottom: 4rem;
   
  }
  .form-input-login{
    color: white;
    margin-top: 3.5rem;
    
    font-size: 17px;
   margin-left: 100px;
    width: 300px;
    height: 15px;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }

  .form-input {
    display: block;
  
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    margin-left: 4rem;
    ;
  
   
    
  }
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  .form-input-btn {
    width: 130%;
    height: 50px;
    margin-top: 50px;
    border-radius: 2px;
    margin-left: 210px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  .form{
    
    margin-top: 1rem;
    color: red;
  }
  
  
  
  